<div class="span12">
  <div class="main-content">
    <div class="row-fluid">
      <div class="span3">
        <div class="cust-name">
          <h3>Supratma Aneka Industri</h3>
        </div>
      </div>
      <div class="span9">
        <div class="cust-info">
          <h4>Core Customer Information</h4>
          <table>
            <thead>
              <tr>
                <td>Customer Name</td>
                <td>Customer Address</td>
                <td>Warehouse Capacity (Tons)</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Shlkasl</td>
                <td>121 csds</td>
                <td>12</td>
              </tr>
              <tr>
                <td>Adakjsdbc</td>
                <td>123 lhdcas</td>
                <td>112356</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="cust-contact">
          <h4>Customer Contact Information</h4>
          <table>
            <thead>
              <tr>
                <td>Name</td>
                <td>Position</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Key Decision Maker</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Name1</td>
                <td>Position1</td>
                <td>Email1</td>
                <td>Phone1</td>
                <td>Key Decision Maker1</td>
              </tr>
              <tr>
                <td>Name2</td>
                <td>Position2</td>
                <td>Email2</td>
                <td>Phone2</td>
                <td>Key Decision Maker2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="prod-info">
          <h4>End product info and required raw materials</h4>
          <table>
            <thead>
              <tr>
                <td>End Product</td>
                <td>Volume (TPM)</td>
                <td>Raw Material</td>
                <td>Grade</td>
                <td>Specific Grade</td>
                <td>Manufacturing Location</td>
                <td>Machine Specification</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>End Product</td>
                <td>Volume (TPM)</td>
                <td>Raw Material</td>
                <td>Grade</td>
                <td>Specific Grade</td>
                <td>Manufacturing Location</td>
                <td>Machine Specification</td>
              </tr>
              <tr>
                <td>End Product</td>
                <td>Volume (TPM)</td>
                <td>Raw Material</td>
                <td>Grade</td>
                <td>Specific Grade</td>
                <td>Manufacturing Location</td>
                <td>Machine Specification</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>