<div class="span2">
  <ul class="sidebar">
    <li class="active"><a href="#/accounts/account1/profile">Account 1</a></li>
    <li ng-class="{'active': accountNo=='account2'}"><a href="#/accounts/account2/profile">Account 2</a></li>
    <li ng-class="{'active': accountNo=='account3'}"><a href="#/accounts/account3/profile">Account 3</a></li>
    <li ng-class="{'active': accountNo=='account4'}"><a href="#/accounts/account4/profile">Account 4</a></li>
    <li ng-class="{'active': accountNo=='account5'}"><a href="#/accounts/account5/profile">Account 5</a></li>
  </ul>
</div>