<div class="row-fluid">
  <div class="span12">
    <div class="main">
      <div class="spacer"></div>
      <div class="box">
        <div class="logo"><img src="/images/logo.png"/></div>
        <ul>
          <li><img src="/images/i_profile.png"/><a href="#/accounts">Account Profile</a></li>
          <li><img src="/images/i_plan.png"/><a href="#/plan">Action Plan / Activity</a></li>
          <li><img src="/images/i_cal.png"/><a href="#/calendar">Calendar</a></li>
          <li><img src="/images/i_perf.png"/><a href="#/performance">Performance</a></li>
          <li><img src="/images/i_library.png"/><a href="#/library">Library</a></li>
          <li class="blue"><img src="/images/i_power.png"/><a href="#/logout" data-ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>