<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Dashboard</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="" ng-click="logout()" ng-controller="NavigationCtrl">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>