<div class="span12">
  <div class="head">
  	<h2>{{subpage}}</h2>
  </div>
  <ul class="sub-nav pull-right">
    <li ng-class="{'active': subpage=='Company Profile'}"><a href="#/accounts/{{accountId}}/Company Profile">Company Profile</a></li>
    <li ng-class="{'active': subpage=='Raw Material Needs'}"><a href="#/accounts/{{accountId}}/Raw Material Needs">Raw Material Needs</a></li>
    <li ng-class="{'active': subpage=='Decision Making'}"><a href="#/accounts/{{accountId}}/Decision Making">Decision Making</a></li>
    <li ng-class="{'active': subpage=='Buying Behavior'}"><a href="#/accounts/{{accountId}}/Buying Behavior">Buying Behavior</a></li>
  </ul>
</div>