<div class="span12">
  <div class="main-content">
    <div class="row-fluid">
      <div class="span3">
        <div class="cust-name">
          <h3>{{accountDetails.accountName}}</h3>
        </div>
      </div>
      <div class="span9">
        <div class="sales">
          <h4>Historical and Forecasted Sales Volume (Tons/Month)</h4>
          <div class="sales-chart" data-my-chart></div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="revenue">
          <h4>Historical and Forecasted Revenue (%)</h4>
          <div class="rev-chart" data-my-chart></div>
        </div>
      </div>
    </div>
    <!--
    <div class="row-fluid">
      <div class="span12">
        <div class="waterfall">
          <h4>Dummy Waterfall Chart</h4>
          <div id="wf-chart" data-waterfall-chart></div>
        </div>
      </div>
    </div>
    -->
  </div>
</div>