<div class="span12">
  <div class="main-content">
    <div class="row-fluid">
      <div class="span3">
        <div class="cust-name">
          <h3>{{accountDetails.accountName}}</h3>
        </div>
      </div>
      <div class="span9">
        <div class="cust-info">
          <h4>Core Customer Information</h4>
          <table>
            <thead>
              <tr>
                <td>Customer Name</td>
                <td>Customer Address</td>
                <td>Warehouse Capacity (Tons)</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="info in accountDetails.customerInfo">
                <td>{{info.customerName}}</td>
                <td>{{info.customerAddress}}</td>
                <td>{{info.warehouseCapacity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="cust-contact">
          <h4>Customer Contact Information</h4>
          <table>
            <thead>
              <tr>
                <td>Name</td>
                <td>Position</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Key Decision Maker</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="info in accountDetails.customerContactInfo">
                <td>{{info.name}}</td>
                <td>{{info.position}}</td>
                <td>{{info.email}}</td>
                <td>{{info.phone}}</td>
                <td>{{info.keyDecisionMaker}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="prod-info">
          <h4>End product info</h4>
          <table>
            <thead>
              <tr>
                <td>End Product</td>
                <td>Volume (TPM)</td>
                <td>Raw Material</td>
                <td>Grade</td>
                <td>Specific Grade</td>
                <td>Manufacturing Location</td>
                <td>Machine Specification</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="info in accountDetails.endProductInfo">
                <td>{{info.endProduct}}</td>
                <td>{{info.volume}}</td>
                <td>{{info.rawMaterial}}</td>
                <td>{{info.grade}}</td>
                <td>{{info.specificGrade}}</td>
                <td>{{info.manufacturingLocation}}</td>
                <td>{{info.machineSpecification}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="cust-details">
          <h4>Customer Details</h4>
          <table>
            <thead>
              <tr>
                <td>Industry Perspective</td>
                <td>Expansion Plans</td>
                <td>Specific Situations / Needs</td>
                <td>Other</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="details in accountDetails.customerDetails">
                <td>{{details.industryPerspective}}</td>
                <td>{{details.expansionPlans}}</td>
                <td>{{details.specificNeeds}}</td>
                <td>{{details.other}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>