<div class="span12">
  <div class="main-content">
    <div class="row-fluid">
      <div class="span3">
        <div class="cust-name">
          <h3>{{accountDetails.accountName}}</h3>
        </div>
      </div>
      <div class="span9">
        <div class="dec-mak">
          <h4>Decision Making Process</h4>
          <div class="text">
            <p>
              {{accountDetails.decisionMaking.process}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="buy-factors">
          <h4>Key Buying Factors</h4>
          <table>
            <thead>
              <tr>
                <td>Factors</td>
                <td>Ranking</td>
                <td>Details</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="factor in accountDetails.keyBuyingFactors">
                <td>{{factor.factor}}</td>
                <td>{{factor.ranking}}</td>
                <td>{{factor.details}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>